html {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: [col--start] 25% [col-content--start] 50% [col-content--end] 25% [col--end];
  grid-template-rows: [row--start] 25% [row-content--start] 50% [row-content--end] 25% [row--end];
  width: 100%;
  height: 100%;
  background-color: #aacbff;
  background-image: url("http://wallpapercave.com/wp/mU3EKHK.jpg");
}
