$altGray: rgb(210, 209, 227);
$mainBlue: rgb(30, 48, 102);
$mainDarkBlue: rgb(0, 5, 51);
$mainGray: rgba(224,231,252,1);
$mainGrayTransparent: rgba(224,231,252,0.75);
$mainLightBlue: rgb(170, 203, 255);
$mainMaroon: rgb(51, 0, 0);
$mainOrange: rgb(255, 129, 107);
